apiVersion: v1
kind: Config

users:
- name: user
  user:
    client-certificate: {{ kube_config_cert }}
    client-key: {{ kube_config_key }}

clusters:
- name: {{ kube_config_cluster }}
  cluster:
    certificate-authority: {{ kube_config_ca }}
    server: {{ kube_config_server }}

contexts:
- context:
    cluster: {{ kube_config_cluster }}
    user: user
  name: default

current-context: default
